.MessageAnswer {
  margin: 0 auto;
  border-bottom: 2px solid white;
  font-size: 25px;
  padding-top: 25px;
  width: 50%;
}

.MessageContent {
  margin-top: 30px;
  text-align: center;
  height: 300px;
  border-radius: 5px !important;
  background-color: #222;
  color: white;
}
