.SummaryContainer {
  padding-top: 25px;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  word-wrap: break-word;
}
.SummaryAnswer {
  overflow-y: scroll;
  max-height: 200px;
  color: orange;
}

.MessageContainer {
  overflow: auto;
  max-height: 200px;
}
