.Button {
  cursor: pointer;
  color: orange;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 5px 5px;
  margin-top: 5px;
  position: relative;
}
.Button:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: orange;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.Button:hover:after {
  width: 100%;
  left: 0;
}

.ButtonInactive {
  cursor: pointer;
  color: gray;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 5px 5px;
  margin-top: 5px;
  position: relative;
}
